/* Using: https://colorhunt.co/palette/225760 */
/* Styles source: https://www.youtube.com/watch?v=-FLzc77MstY */

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #dddddd;
}

/* Setting the navbar background */
nav {
  background-color: #222831;
  padding: 10px 40px 10px 70px;
}

nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav ul li.logo {
  flex: 1;
  color: #dddddd;
  font-size: 30px;
  font-weight: 700;
}

nav ul div.menu-items {
  padding: 0 25px;
  display: inline-flex;
}

nav ul div.menu-items a {
  color: #dddddd;
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
}

nav ul div.menu-items a:hover {
  color: #f05454;
}

.loginIntro{
  padding-top: 15px;
  padding-bottom: 30px;
}

.loginIntro h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.loginIntro p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #f05454;
}

.credentialCenter {
  margin-right: auto;
  margin-left: auto;
}

.credentialCenter tr td {
  padding-bottom: 5px;
}

.button {
  text-align: center;
}
