.center {
  margin-left: auto;
  margin-right: auto;
}

main div h1 {
  text-align: center;
}

th a {
  text-decoration: none;
  color: #30475e;
}

th a:hover {
  text-decoration: underline;
  color: #f05454;
}
