


.loginIntro {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  text-align: center;
}




.credentialsCenter {
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
}
