.center {
  margin-right: auto;
  margin-left: auto;
}

h2 {
  text-align: center;
}

.button {
  text-align: center;
}

.totalPrompt {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.error {
  text-align: center;
  color: red;
  margin-right: auto;
  margin-left: auto;
}
